<div class="container_wrap2">
<%= render '/posts/logo' %>
<div class="d_main">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class=“notice’><%= notice %></p>
  <p class=“alert’><%= alert %></p>
  <div class="d_inputbox">
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label:'이메일', maxlength: "30" %>
      <%= f.input :password, required: true, label: '비밀번호', hint: ("#{@minimum_password_length} 글자 이상을 입력해주세요." if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true, label: '비밀번호 확인' %>
      <%= f.label "이름" %>
      <%= f.text_field :name, required: true, maxlength: "5"%>
      <%= f.label "휴대전화" %>
      <%= f.number_field :phone, required: true, placeholder: "- 없이 11자 입력", min: 1, max: 99999999999, id: "phone"%>
      <script>
      phone.oninput = function () {
          if (this.value.length > 11) {
              this.value = this.value.slice(0,11); 
          }
      }
    </script>
      <%#= f.text_field :phone, :required => true, placeholder: "- 없이 11자 입력", maxlength: "11"%>
      <%#= f.label "닉네임" %>
      <%#= f.text_field :nickname, :required => true, placeholder: "ex) 멋사 두희", maxlength: "10"%>
      <%= f.label "Github 주소" %>
      <%= f.text_field :gitlink, placeholder: "https://github.com/아이디" %>
      
      <div class="checkform">
        <input type="checkbox" id="user_checkbox" name="user_checkbox" required/>
        <label for="user_checkbox"><a href="https://github.com/likelion-sahmyook/likelion-sahmyook.github.io/wiki/%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%EC%B2%98%EB%A6%AC%EB%B0%A9%EC%B9%A8" target="_blank">개인정보처리방침</a>을 읽었으며 이에 동의합니다.</label>
      </div>
    </div>
  </div>

  <div class="d_button">
    <div class="form-actions">
      <%= f.button :submit, "회원가입", class:"btn btn-primary" %>
    </div>
  </div>
  
  <% end %>

  <%= link_to '뒤로가기', :back, class: "d_link" %>
</div>
</div>

<script>
  $("#new_user").submit(function () {
      if( $('#user_checkbox').is(":checked") == true ) {
        return true;
      } else {
        alert("개인정보처리방침에 동의 하셔야 합니다.");
        $('#user_checkbox').focus();
        return false;
      }  
      
  });
</script>
<%= render '/posts/footer' %>