    <!-- Page Content -->
 <%#= render '/posts/nav' %>
    
    <script>
        //jquery-visible
        !function(t){var i=t(window);t.fn.visible=function(t,e,o){if(!(this.length<1)){var r=this.length>1?this.eq(0):this,n=r.get(0),f=i.width(),h=i.height(),o=o?o:"both",l=e===!0?n.offsetWidth*n.offsetHeight:!0;if("function"==typeof n.getBoundingClientRect){var g=n.getBoundingClientRect(),u=g.top>=0&&g.top<h,s=g.bottom>0&&g.bottom<=h,c=g.left>=0&&g.left<f,a=g.right>0&&g.right<=f,v=t?u||s:u&&s,b=t?c||a:c&&a;if("both"===o)return l&&v&&b;if("vertical"===o)return l&&v;if("horizontal"===o)return l&&b}else{var d=i.scrollTop(),p=d+h,w=i.scrollLeft(),m=w+f,y=r.offset(),z=y.top,B=z+r.height(),C=y.left,R=C+r.width(),j=t===!0?B:z,q=t===!0?z:B,H=t===!0?R:C,L=t===!0?C:R;if("both"===o)return!!l&&p>=q&&j>=d&&m>=L&&H>=w;if("vertical"===o)return!!l&&p>=q&&j>=d;if("horizontal"===o)return!!l&&m>=L&&H>=w}}}}(jQuery);
    </script>
    <% @mains.each do |main| %>
    <div class="background">
    </div>
    
    <div class="main-sec1" id="bg" style="background-image: url('<%= @mainimg.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        
        <div class="container">
            <h1 class="main-title" id="texts"><span id="app"></span></h1>
            
            <!-- 타이핑 효과 -->
            <script>
                var app = document.getElementById('app');

                var typewriter = new Typewriter(app, {
                    loop: true
                });
                
                typewriter.typeString('<%= main.title %>')
                    .pauseFor(2500)
                    .deleteChars(9)
                    .pauseFor(2500)
                    .deleteAll()
                    .typeString('<span style="font-family: Montserrat, sans-serif; font-weight: boldER;">LIKELION</span>')
                    .pauseFor(2500)
                    .deleteAll()
                    .typeString('<span style="font-family: Montserrat, sans-serif; font-weight: boldER;">HACK YOUR LIFE</span>')
                    .pauseFor(2500)
                    .start();
            </script>
          

            <span class="thbox"><h1 class="main-lionth" id="counter_th"><%= main.th %></h1><span class="th">기</span></span>
            <div class="main-line"></div>
            <p class="main-content"><%= main.content %></p>
            
            <% if main.hidden === '표시' %>
              <div class="apply">
              <p>멋쟁이 사자처럼 삼육대학교 <%= main.th %>기 절찬 모집 중<span class="title-star">*</span></p>
              <p class="applytime"><%= main.applycontent %></p>
              <a href="<%= main.applylink %>" class="btn main-btn" target= "_blank">삼육대 멋사 <%= main.th %>기 지원하기!</a>
              </div>
            <% end %>
            
            <%= link_to '홈페이지로 이동하기', posts_path, class: "btn main-btn" %>

        </div>
    </div>

    <div class="main-sec2">
    <div class="container">
    
      <div class="row">
        <!-- Post Content Column -->
        <!--<div class="col-lg-1">-->
        <!--</div>-->
        <div class="col-lg-12 main">
          
          <!--<%#= link_to(image_tag('/assets/logo2', class:"logo-main"), posts_path )%>-->
          <!--<div class="logo-main-text">로고이미지를 클릭하면 홈페이지로 이동합니다.</div>-->
            <div class="main-textbox">
            

            <div class="main-info">
            <h1 class="info_title">활동내역</h1>
              <div class="row">
                <div class="col-md-3 r"><h1 id="counter_year" class="counter">2018</h1><p>년 부터</p></div>
                <div class="col-md-3 r"><h1 id="counter_people" class="counter"><%= main.lion %></h1><p>명의 사자들이</p></div>
                <div class="col-md-3 r"><h1 id="counter_hack"><%= main.lion %></h1><p>번의 해커톤을 통해</p></div>
                <div class="col-md-3"><h1 id="counter_service">0</h1><p>개의 서비스를 만들었습니다.</p></div>
              </div>
            </div>
            </div>    
        </div>  
    </div>
    </div>
    </div>
      
      
    <div class="main-sec3">    
        <div class="container">
    
            <div class="row">
            <div class="col-lg-12 main">    
            
            <div class="main-service">
                <h1><%= main.th %>기 구성원</h1>
                <h3>멘토</h3>
                <div class= "row service">
                    <% @users.each do |user| %>
                        <% if user.has_role? 'manager' %>
                            <% if user.name === "삼육멋사" %>
                            <div class="none">
                            <% else %>
                            
                            <div class="col-md-3 s">
                            <% end %>
                                <a href="/users/<%= user.id %>">
                                <% if user.image.blank? %>
                                    <img src="/assets/avatar" class="mainuserimg sindex">
                                <% else %>
                                    <%= image_tag user.image.thumb.url, class: "mainuserimg sindex" %>
                                <% end %> 
                                </a>
                                <p>
                                    <%= user.name %>
                                    <!--</br>-->
                                    <!--<span class="role">운영진</span>-->
                                </p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                
                <h3>멘티</h3>
                <div class= "row service">
                    <% @users.each do |user| %>
                        <% if user.has_role? 'member' %>
                        
                        <div class="col-md-3 sm">
                            <a href="/users/<%= user.id %>">
                            <% if user.image.blank? %>
                                <img src="/assets/avatar" class="mainuserimgm sindex">
                            <% else %>
                                <%= image_tag user.image.thumb.url, class: "mainuserimgm sindex" %>
                            <% end %>
                            </a>
                            <p>
                                <%= user.name %>
                                <!--</br>-->
                                <!--<span class="role">아기사자</span>-->
                            </p>
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            </div> 
            </div>
            </div>
            </div>
         </div>   
         
    <div class="main-sec4">      
        <div class="container">

        <div class="row">
            <div class="col-lg-12 main">
                <div class="main-service">
                    <h1>만든 서비스</h1>
                    <div class= "row service">
                    <% @services.each do |service| %>
                      <div class="col-md-3 s">
                        <a href="<%= service.url %>" target="_blank">
                        <% if service.image.blank? %>
                          <div class= "serviceimg sindex">
                            <br>이미지<br>준비중
                          </div>
                        <% else %>
                          <%= image_tag service.image.thumb.url, class: "serviceimg sindex" %>
                        <% end %> 
                        <p><%= service.title %></p>
                        </a>
                        <% if user_signed_in? %>
                          <% if current_user.has_role? 'admin' or current_user.has_role? 'manager' %>
                          <div class="admin-edit-box" >
                          <%= link_to '수정', edit_service_path(service) %> | 
                          <%= link_to '삭제', service, method: :delete, data: { confirm: '서비스를 삭제하시겠습니까?' } %> 
                          </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    
                    <% if user_signed_in? %>
                      <% if current_user.has_role? 'admin' or current_user.has_role? 'manager' %>
                        <div class="col-md-3 s">
                          <%= link_to(image_tag('/assets/add', class:"serviceimgadd"), new_service_path)%>
                        </div>
                      <% else %>
                        <div class="col-md-3 s2"></div>
                      <% end %>
                    <% else %>
                        <div class="col-md-3 s2"></div>
                    <% end %>
                    
                  </div>
                </div>  
            
            <h1 class="info_title">SNS</h1>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5 mainb">
              <%= link_to 'Facebook', 'https://www.facebook.com/likelionsahmyook/', class: "btn main-btn", target: "_blank" %>
              </div>
              <div class="col-md-5 mainb">
              <%= link_to 'Instagram', 'https://www.instagram.com/likelion_syu/', class: "btn main-btn", target: "_blank" %>
              </div>
              <div class="col-md-1"></div>
            </div>
            <% if user_signed_in? %>
              <% if current_user.has_role? 'admin' or current_user.has_role? 'manager' %>
                <div class="maineditbox">
                  <%= link_to '수정하기', edit_main_path(main), class: "mainedit" %>
                </div>
              <% end %>
            <% end %>
            </div>
        </div> 
        
        <script>
        $(document).ready(function(){
            if($("#counter_th").visible() == true ) {
                var options = {
                  useEasing: false, 
                  useGrouping: true, 
                  separator: '', 
                  decimal: '.', 
                };
                
                // 시작 수, 종료 수, 속도
                var count_1 = new countUp('counter_th', 0, <%= main.th.to_s %>, 0, 2, options);
                var count_2 = new countUp('counter_year', 0, 2018, 0, 2, options);
                var count_3 = new countUp('counter_people', 0, <%= main.lion.to_s %>, 0, 1, options);
                var count_4 = new countUp('counter_hack', 0, <%= main.hack.to_s %>, 0, 2, options);
                var count_5 = new countUp('counter_service', 0, <%= Service.all.count.to_s %>, 0, 2, options);
                
                    count_1.start();
                $(window).scroll(function() {
                    count_2.start();
                    count_3.start();
                    count_4.start();
                    count_5.start();
                    $(window).off('scroll');
                });
    
            } else {
                $(window).scroll(function() {
                    var options = {
                      useEasing: false, 
                      useGrouping: true, 
                      separator: '', 
                      decimal: '.', 
                    };
                    
                    // 시작 수, 종료 수, 속도
                    var count_1 = new countUp('counter_th', 0, <%= main.th.to_s %>, 0, 2, options);
                    var count_2 = new countUp('counter_year', 0, 2018, 0, 2, options);
                    var count_3 = new countUp('counter_people', 0, <%= main.lion.to_s %>, 0, 1, options);
                    var count_4 = new countUp('counter_hack', 0, <%= main.hack.to_s %>, 0, 2, options);
                    var count_5 = new countUp('counter_service', 0, <%= Service.all.count.to_s %>, 0, 2, options);
                    
                        count_1.start();
                        count_2.start();
                        count_3.start();
                        count_4.start();
                        count_5.start();
                        $(window).off('scroll');
                });
            }
        });
                        
        </script>
          
          <% end %>
          
          <% if Main.count == 0 %>
          <div class="main-textbox">
            <div class="empty40"></div>
            <h1 class="info_title">SNS</h1>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5 mainb">
              <%= link_to 'Facebook', 'https://www.facebook.com/likelionsahmyook/', class: "btn main-btn", target: "_blank" %>
              </div>
              <div class="col-md-5 mainb">
              <%= link_to 'Instagram', 'https://www.instagram.com/likelion_syu/', class: "btn main-btn", target: "_blank" %>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>  
          <% end %>
          
          <% if user_signed_in? %>
            <% if current_user.has_role? 'admin' or current_user.has_role? 'manager' %>
              <% if Main.count == 0 %>
              <div class="main-textbox">
                <div class="maineditbox">
                  <%= link_to '메인작성', new_main_path, class: "mainedit" %>
                </div>
              </div>  
              <% end %>
            <% end %>
          <% end %>
        
        <!--<div class="col-lg-2s">-->
        <!--</div>-->
      </div>
    </div>  
    <!-- /.row -->  
      </div>
      
    <!-- /.container -->
    </div>
    
  <!-- 이유는 모르겠지만 /div를 추가해야 footer가 container안에 안 들어감 -->
  </div>

<!-- Footer -->
<%= render '/posts/footer' %>