<div class="container">

    <!-- Blog Entries Column -->
    <div class="col-md-12 index">
      
      <!--공지 위젯-->
      
      <%= render 'notice' %>
      
      <!--대문사진-->
      <% if @posts.current_page == 1 %>
      <%= render 'mainimg' %>
      <% end %>
    </div>  
  <div class="row">
    <div class="col-md-8 index">    
      <!--첫 포스트작성-->
      <%= render 'nullpost' %>
      
      <!-- Blog Post -->
      <div class="post-box">
      <% @posts.each do |post| %>
      <a href="/posts/<%= post.id %>" class="card-con">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-title">
              <% if post.category === '수업자료' %>
              <div class="card-cate"><%= post.category %></div>
              <div class="card-cate" id="clect2"><%= post.lecture %></div>
              <% elsif post.category === '대문' %>
              <div class="card-cate" id="cnoti"><%= post.category %></div>
              <% elsif post.category === '과제' %>
              <div class="card-cate" id="chome"><%= post.category %></div>
                <% if post.limit > Time.current %>
                  <div class="card-cate" id="climit"><%= post.limit.strftime('%Y.%m.%d. %H:%M:%S') %> 까지</div>
                <% elsif %>
                  <div class="card-cate" id="clect2">기한 만료</div>
                <% end %>
              <% elsif post.category === '공지사항' %>
              <div class="card-cate" id="cnoti"><%= post.category %></div>
              <% else %>
              <div class="card-cate"><%= post.category %></div>
              <% end %>
              <h1 class="title etc"><%= post.title %></h1>
              <div class="post-info"><%= post.user.nickname %> | <%= post.created_at.strftime("%Y.%m.%d. %H:%M") %> | <%= "#{post.unique_impression_count}" %> 읽음 | <%= link_to "- 댓글", post, class: 'comment-link-marker', data: { "disqus-url": post_url(post) } %></div>
            </div>
          </div>
          </div>
      </a>
      <% end %>
      </div>
      
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li>
          <%= paginate @posts %>
        </li>
      </ul>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Top-Widget -->
      <%= render 'top-widget' %>
      <hr/>
      
      <!-- Categories Widget -->
      <%= render 'cate-widget'%>
      <hr/>
      
      <!-- Fb Widget -->
      <%= render 'fb-widget' %>
         
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- 이유는 모르겠지만 /div를 추가해야 footer가 container안에 안 들어감 -->
</div>

<script type='text/javascript' charset='utf-8'> 
var disqusPublicKey, disqusShortname, urlArray;
disqusPublicKey = 'Wo2ZGwRwy2RVZroR9FOKX7zPbaVytJhylPcGmt09gvG1pWX7ru43Me2oWUuo7aPU';
disqusShortname = 'likelion-sahmyook';
urlArray = [];
$('.comment-link-marker').each(function () {
  var url;
  url = $(this).attr('data-disqus-url');
  urlArray.push('link:' + url);
});
$.ajax({
  type: 'GET',
  url: 'https://disqus.com/api/3.0/threads/set.jsonp',
  data: {
    api_key: disqusPublicKey,
    forum: disqusShortname,
    thread: urlArray
  },
  cache: false,
  dataType: 'jsonp',
  success: function (result) {
    var count, countText, i;
    for (i in result.response) {
      countText = '댓글 ';
      count = result.response[i].posts;
      if (count === 1) {
        countText = '댓글 ';
      }
      $('a[data-disqus-url="' + result.response[i].link + '"]').html(count > 0 ? "("; + countText + count + ")" : "");
    }
  }
});
</script>