<div class="container">

    <!-- Blog Entries Column -->
  <div class="col-md-12 index">
    
    <!--공지 위젯-->
    <%= render 'notice' %>
    
    <!--대문사진-->
    <% if @posts.current_page == 1 %>
    <%= render 'mainimg' %>
    <% end %>
  </div>  
  
  <div class="row">
    <div class="col-md-8 index">    
      <!--첫 포스트작성-->
      <%= render 'nullpost' %>
      
      <!-- Blog Post -->
      <div class="post-box">
      <% @posts.each do |post| %>
      <a href="/posts/<%= post.id %>" class="card-con">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-title">
              <% if post.category === '수업자료' %>
              <div class="card-cate"><%= post.category %></div>
              <div class="card-cate" id="clect2"><%= post.lecture %></div>
              <% elsif post.category === '대문' %>
              <div class="card-cate" id="cnoti"><%= post.category %></div>
              <% elsif post.category === '과제' %>
              <div class="card-cate" id="chome"><%= post.category %></div>
                <% if post.limit > Time.current %>
                  <div class="card-cate" id="climit"><%= post.limit.strftime('%Y.%m.%d. %H:%M:%S') %> 까지</div>
                <% elsif %>
                  <div class="card-cate" id="expir">기한 만료</div>
                <% end %>
              <% elsif post.category === '공지사항' %>
              <div class="card-cate" id="cnoti"><%= post.category %></div>
              <% elsif post.category === '일반' %>
              <div class="card-cate" id="cfree"><%= post.category %></div>
              <% elsif post.category === '질문' %>
              <div class="card-cate" id="cques"><%= post.category %></div>
              <div class="card-cate" id="clect2"><%= post.lecture %></div>
              <% else %>
              <div class="card-cate"><%= post.category %></div>
              <% end %>
              
              <% if post.attachment.present? %>
              <h1 class="title etc">
                <%= post.title %>
              <img class='attach-icon' src='/assets/attachment-clip.svg'/>
              </h1>
              <% elsif post.category === '과제' %>
                <% if post.limit < Time.current %>
                <h1 class="title_expir etc"><%= post.title %></h1>
                <% else %>
                <h1 class="title etc"><%= post.title %></h1>
                <% end %>
              <% else %>
              <h1 class="title etc"><%= post.title %></h1>
              <% end %>
              <div class="post-info">
                <%= post.user.name %> | <%= post.created_at.strftime("%Y.%m.%d. %H:%M") %> | <%= "#{post.unique_impression_count}" %> 읽음 <!--|--> <%#= link_to "0 댓글", post, class: 'comment-link-marker', data: { "disqus-url": post_url(post) } %></div>
            </div>
          </div>
          </div>
      </a>
      <% end %>
      </div>
      
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li>
          <%= paginate @posts %>
        </li>
      </ul>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Top-Widget -->
      <%= render 'top-widget' %>
      <hr/>
      
      <!-- Categories Widget -->
      <%= render 'cate-widget'%>
      <hr/>
      
      <!-- Fb Widget -->
      <%= render 'fb-widget' %>
         
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


