<div class="swiper-container custom-swiper">
    <div class="swiper-wrapper">
        <%if @mainimg.count == 0 %>

        <% elsif @mainimg.count == 1%>
        <div class="swiper-slide">
            <a href="/posts/<%= @mainimg_3_1.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
        </div>
        <% elsif @mainimg.count == 2%>
        <div class="swiper-slide">
            <a href="/posts/<%= @mainimg_3_1.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/posts/<%= @mainimg_3_2.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_2.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
        </div>
        <% else %>
        <div class="swiper-slide">
            <div class="carousel-item active">
            <a href="/posts/<%= @mainimg_3_1.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
            </div>
        </div>
        <div class="swiper-slide">
            <a href="/posts/<%= @mainimg_3_2.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_2.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="/posts/<%= @mainimg_3_3.id%>">
                <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_3.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
                </div>
            </a>
        </div>
            <% end %>
    </div>
    
    <!-- Pagination -->
    <div class="swiper-pagination custom-swiper-pagination"></div>
    
    <!-- Add Arrows -->
    <div class="swiper-button-next s-btn-white"></div>
    <div class="swiper-button-prev s-btn-white"></div>
</div>    
      
      
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        // slidesPerView: 'auto',
        autoplay: {
            delay: 5000,
        },
        
        pagination: {
            el: '.swiper-pagination',
        },
    
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>