<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
<%if @mainimg.count == 0 %>

<% elsif @mainimg.count == 1%>
    <div class="carousel-item active">
      <a href="/posts/<%= @mainimg_3_1.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>
    </div>
<% elsif @mainimg.count == 2%>
    <div class="carousel-item active">
      <a href="/posts/<%= @mainimg_3_1.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/posts/<%= @mainimg_3_2.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_2.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>  
    </div>
<% else %>
    <div class="carousel-item active">
      <a href="/posts/<%= @mainimg_3_1.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_1.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/posts/<%= @mainimg_3_2.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_2.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>  
    </div>
    <div class="carousel-item">
      <a href="/posts/<%= @mainimg_3_3.id%>">
        <div class="card-body mainimg carousel-bg" style="background-image: url('<%= @mainimg_3_3.content.to_s.html_safe.remove('<p><img src="', '" alt="" /></p>') %>');">
        </div>
      </a>  
    </div>
  </div>
<% end %>  
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <div class="c-shadow">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <div class="c-shadow">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
    <span class="sr-only">Next</span>
  </a>
  
</div>



    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
  
            </div>
        </div>
        
        
        <div class="swiper-pagination"></div>
        
        <!-- Add Arrows -->
        <div class="swiper-button-next s-btn-black"></div>
        <div class="swiper-button-prev s-btn-black"></div>
    </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
        // loop: true,
        // slidesPerView: 'auto',
         autoplay: {
            delay: 5000,
        },
        
        pagination: {
            el: '.swiper-pagination',
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
  </script>
