<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <%= link_to(image_tag('/assets/logo1', class:"nav-logo"), posts_path, class:"navbar-brand custom-brand")%>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custom-nav-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownnickname" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right"  id="userinfo" aria-labelledby="navbarDropdownPortfolio">
            <div class="dropdown-nickname">
            <%= current_user.email %>
            </div>
            <%= link_to '마이페이지', edit_user_registration_path, class:"dropdown-item"%>
            <% if current_user.has_role? 'admin'%>
            <%= link_to '관리자', rails_admin_path, class:"dropdown-item"%>
            <% end %>
            <% if current_user.has_role? 'admin'%>
            <%= link_to '새 글 작성', new_post_path, class:"dropdown-item" %>
            <% elsif current_user.has_role? 'member' %>
            <%= link_to '새 글 작성', new_post_path, class:"dropdown-item" %>
            <% end %>
            <%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class:"dropdown-item" %>
          </div>
        </li>
        <% else %>
        <li class="nav-item" >
          <%= link_to '로그인', new_user_session_path, class:"nav-link sign" %>
        </li>
        <% end %>
        <li class="nav-item" data-nav-url='/posts'>
          <%= link_to "메인", posts_path, class:"nav-link" %>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" data-nav-url='/notice'>
          <%= link_to "공지", notice_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            수업
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <%= link_to "과제", homework_path, class:"dropdown-item" %>
            <%= link_to "수업자료", lecture_path, class:"dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            게시판
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <%= link_to "자유게시판", freeboard_path, class:"dropdown-item" %>
            <%= link_to "질문", freeboard_path, class:"dropdown-item" %>
          </div>
        </li>
        <li class="nav-item" data-nav-url='/services'>
          <%= link_to "서비스", services_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
    
    <script>
      /* link active set up*/
      $(function(){
        // 페이지가 로드될때마다 이 구역이 실행됨.
        let _pathname = location.pathname;
        let _navItems = $('.navbar-nav').find('.nav-item');
        for(let i = 0 ; i < _navItems.length ; i++){
          let _currentItem = _navItems.eq(i);
          if(_currentItem.attr('data-nav-url') === _pathname){
            _currentItem.addClass('active');
          }
          else{
            _currentItem.removeClass('active');
          }
        }
      });
    </script>
  </div>
</nav>
