<!-- Navigation -->
<%= render '/posts/nav' %>

<% if current_user.image.url.present? %>
  <div class="avatar">
    <a href="<%= current_user.image.url %>" target="_blank"><%= image_tag(current_user.image.thumb.url) %></a>
  </div>
<% else %>
  <div class="avatar">
    <img src="/assets/avatar">
  </div>
<% end %>

<div class="d_main">
  <div class="d_inputbox">
    <div class="form-inputs">
      <div class="user-info">
        <h1><%= current_user.name %></h1>
        <p><%= current_user.email %></p>
        <p><%= current_user.created_at.strftime("%Y")%>년 부터 삼육멋사와 함께한 
        <% if current_user.has_role? 'admin'%>
          <span class="role">운영진*</span>
        <% elsif current_user.has_role? 'member'%>
          <span class="role">아기사자</span>
        <% else %>
          <span class="role">뉴비</span>
          <p>'뉴비' 등급은 게시글 작성이 불가능합니다.<span class="label-star">*</span><br>
                등급 관련 사항은 운영자에게 문의해주세요.</p>
        <% end %>
        </p>
      </div>
    </div>
  </div>
  
  <div class="new-btn-con-con">
    <div class="new_btn_con">
      <div class="new_btn">
       <%= link_to '개인 정보 수정하기', edit_user_registration_path, class: "new-btn" %>
      </div>
      <div class="new_btn">
       <%= link_to '내 글 보기', users_myposts_path, class: "new-btn" %>
      </div>
    </div>
  </div>
  
  <div class="d_link">
  <%= link_to "메인으로", posts_path %>
  </div>
</div>  

<%= render '/posts/footer' %>