<!-- Navigation -->
<%= render 'nav' %>

<!-- Page Content -->
<div class="container">
      
        <!-- Blog Entries Column -->
        <div class="col-md-12 title"> 
          <h1 class="title-custom">내가 작성한 글 <span class="title-custom21">(<%= @user.count %>)</span></h1>
          <hr class="margin-b0"/>
        </div>  
      <div class="row">    
        <div class="col-md-12">   
          <!--첫 포스트작성-->
          <% if @users.count == 0 %>
            <div class="nullpost">
              <h1 class="null-h1">:( 게시글이 없습니다!</h1>
              <%= link_to "게시글 작성하기→", new_post_path ,class:"null-link"%>
            </div>
          <% end %>
          
        <div class="post-box">
          <% @users.each do |post| %>
              <a href="/posts/<%= post.id %>" class="card-con">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="card-title">
                        <% if post.category === '수업자료' %>
                        <div class="card-cate"><%= post.category %></div>
                        <div class="card-cate" id="clect2"><%= post.lecture %></div>
                        <% elsif post.category === '대문' %>
                        <div class="card-cate" id="cnoti"><%= post.category %></div>
                        <% elsif post.category === '과제' %>
                        <div class="card-cate" id="chome"><%= post.category %></div>
                          <% if post.limit > Time.current %>
                            <div class="card-cate" id="climit"><%= post.limit.strftime('%Y.%m.%d. %H:%M:%S') %> 까지</div>
                          <% elsif %>
                            <div class="card-cate" id="clect2">기한 만료</div>
                          <% end %>
                        <% elsif post.category === '공지사항' %>
                        <div class="card-cate" id="cnoti"><%= post.category %></div>
                        <% else %>
                        <div class="card-cate"><%= post.category %></div>
                        <% end %>
                      <h1 class="title etc"><%= post.title %></h1>
                      <div class="post-info"><%= post.user.name %> | <%= post.created_at.strftime("%Y.%m.%d. %H:%M") %> | <%= "#{post.unique_impression_count}" %> 읽음 | <%= link_to "0 댓글", post, class: 'comment-link-marker', data: { "disqus-url": post_url(post) } %></div>
                    </div>
                  </div>
                </div>
              </a>
          <% end %>
          </div>
          
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li>
              <%= paginate @users %>
            </li>
          </ul>
      </div>    
      <!-- /.row -->
    </div>
      <div class="back_link">
      <%= link_to "뒤로가기", users_path %>
      </div>
    <!-- /.container -->
  </div>  
<!-- Footer -->
<%= render 'footer' %>

<!-- disqus count -->
<%= render 'disqus2' %>