<!-- Navigation -->
<%= render 'nav' %>

<!-- Page Content -->
<div class="container_wrap">
  
  <div class="container">
      
        <!-- Blog Entries Column -->
        <div class="col-md-12 title"> 
          <h1 class="title-custom-q">FAQ</h1>
            <%= link_to '질문하기',  new_post_path, class: "new-btn q" %>
          <hr class="margin-b0"/>
        </div>  
      <div class="row">    
        <div class="col-md-12">   
          <!--첫 포스트작성-->
          <% if Post.count == 0 %>
            <%= render 'nullpost' %>
          <% else %>  
            <%= render 'nullpost2' %>
          <% end %>
          
          <div class="post-box">  
          <% @posts.each do |post| %>
              <a href="/posts/<%= post.id %>" class="card-con">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="card-title">
                      <div class="card-cate" id="cques"><%= post.category %></div>
                      <div class="card-cate" id="clect2"><%= post.lecture %></div>
                        <% if post.attachment.present? %>
                        <h1 class="title etc">
                          <%= post.title %>
                        <img class='attach-icon' src='/assets/attachment-clip.svg'/>
                        </h1>
                        <% else %>
                        <h1 class="title etc"><%= post.title %></h1>
                        <% end %>
                        <hr>
                        <div class="post-info">
                        <% if post.user.image.url.present? %>
                          <div class="avatar3">
                            <%= image_tag(post.user.image.thumb.url) %>
                          </div>
                        <% else %>
                          <div class="avatar3">
                              <img src="/assets/avatar">
                          </div>
                        <% end %>
                        <%= post.user.name %> | <%= post.created_at.strftime("%Y.%m.%d. %H:%M") %>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
          <% end %>
          </div>
          
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li>
              <%= paginate @posts %>
            </li>
          </ul>
        </div>
        
      <!-- /.row -->  
      </div>
      
      <!-- Sidebar Widgets Column -->
      <%= render 'posts/side_widget/side-widget-faq' %>
      
  <!-- /.container -->
  </div>

<!-- /.container-wrap -->    
</div>  

<!-- Footer -->
<%= render 'footer' %>
