<!-- Navigation -->
<%= render 'nav' %>
<div class="container_wrap_show">
<!-- Page Content -->
<div class="container">
  <div class="row">

    <!-- Post Content Column -->
    <!--<div class="col-lg-12">-->
    <% if @post.category === '질문' %>
    <div class="col-lg-12">
    <% else %>
    <div class="col-lg-8">
    <% end %>

      <!-- Title -->
      
      <div class="show-card">
      <% if @post.category === '수업자료' %>
        <div class="card-cate" id="clect3"><%= @post.lecture %></div>
      <% elsif @post.category === '질문' %>
        <div class="card-cate" id="cques"><%= @post.category %></div>
        <div class="card-cate" id="clect3"><%= @post.lecture %></div>
      <% else %>
        <div class="empty"></div>
      <% end %>
      <h1 class="mt-4 etc"><%= @post.title %></h1>
      
      <!-- Date/Time -->
      <p class="time"><a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a> | <%= @post.category %> | <%= @post.created_at.strftime("%Y.%m.%d. %H:%M") %></p>
      <% if @post.category === '과제' %>
        <% if @post.limit > Time.current %>
          <div class="card-cate" id="climit">제출기한 : <%= @post.limit.strftime('%Y.%m.%d. %H:%M:%S') %> 까지</div>
        <% elsif %>
          <div class="card-cate" id="expir">제출기한 : <%= @post.limit.strftime('%Y.%m.%d. %H:%M:%S') %> 만료</div>
        <% end %>
      <% end %>
      <hr>
      
      <!-- Post Content -->
      <div class="show_content">  
        <p><%= content_tag(:div, @post.content.html_safe, :class => "panel-body") %></p>
      </div>
      <% if @post.attachment.present? %>
        <% if @post.category === '질문' %>
        <div class="file_box etc">
          <span class="file_box_name">첨부파일</span><%= link_to "#{@post.attachment.file.filename} <span class='attachsize etc'>(#{(@post.attachment.file.size / 1024000.0).round(1)}MB)</span>", @post.attachment_url, class: "etc" %>
        </div>
        <% else %>
        <div class="file_box a etc">
          <span class="file_box_name">첨부파일</span><%= link_to "#{@post.attachment.file.filename} <span class='attachsize etc'>(#{(@post.attachment.file.size / 1024000.0).round(1)}MB)</span>".html_safe, @post.attachment_url, class: "etc" %>
        </div>
        <% end %>
      <% end %>
      <hr/>
      
      <!-- Author -->
      <div class="author">
        <% if @post.user.image.url.present? %>
            <div class="avatar_show">
              <%= image_tag(@post.user.image.thumb.url) %>
            </div>
          <% else %>
            <div class="avatar_show">
                <img src="/assets/avatar">
            </div>
          <% end %>
          <h4><span class="nik"><a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a><span></h4>
        <h5>
          <% if @post.user.has_role? 'admin' or @post.user.has_role? 'manager' %>
            삼육멋사 운영진
          <% elsif @post.user.has_role? 'member'%>
            삼육멋사 아기사자
          <% elsif @post.user.has_role? 'oldmember'%>
            삼육멋사 멋쟁이 사자  
          <% else %>
            삼육멋사 게스트
          <% end %>
        </h5>
        <% if @post.user.has_role? 'admin' or @post.user.has_role? 'manager' or @post.user.has_role? 'memeber' or @post.user.has_role? 'oldmember'%>
            <a href="<%= @post.user.gitlink %>" target="_blank" class="btn btn-github"><span><img class='widget-icon' src='/assets/github-logo-w'/></span> Github Page 방문하기 →</a>
        <% else %>
        <% end %>
      </div>
      
      <!-- 삭제, 수정 -->
      <div class="show_link_con">
        
        <!--카카오톡 버튼-->
        <%= render '/posts/show_content/kakao-share'%>
        <%= render '/posts/show_content/fb-share' %>
        <div class="show_link">
          <% if user_signed_in? %>
            <% if @post.user == current_user %>
              <%= link_to '수정', edit_post_path(@post) %> 
              <%= link_to '삭제', @post, method: :delete, data: { confirm: '게시글을 삭제하시겠습니까?' } %> 
            <% elsif current_user.has_role? 'admin' or current_user.has_role? 'manager' %>
              <%= link_to '수정', edit_post_path(@post) %> 
              <%= link_to '삭제', @post, method: :delete, data: { confirm: '게시글을 삭제하시겠습니까?' } %> 
            <% end %>
            <%= link_to '뒤로', :back %>
          <% else %>
            <%= link_to '뒤로', :back %>
          
          <% end %>  
        </div>
      </div>

      <!-- Comments Form -->
      <hr/>
      <% if @post.category === '질문' %>
      <div class="author q">
        <h4>답변</h4>
      </div>
      
      <% end %>
      <%= render '/posts/show_content/comment' %> 
      
    </div>
  </div>  
    <% if @post.category === '질문' %>
  </div>
      <!-- Sidebar Widgets Column -->
      <%#= render '/posts/side_widget/side-widget-faq' %> 
      
    <!-- row -->
    </div>
    
    <% else %>
      <!-- Sidebar Widgets Column -->
      <%= render '/posts/side_widget/side-widget-search' %> 
      
    <% end %>
    </div>
   
  <!-- /.row -->  
  </div>
  
<!-- /.container -->  
</div>

<!-- /.container-wrap -->  
</div>

<!-- Footer -->
<%= render 'footer' %>



