<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <% if @post %>
      <meta property="og:title" content="<%= @post.title %>">
      <meta property="og:description" content="<%= raw @post.content %>">
      <meta property="og:image" content="http://drive.google.com/uc?export=view&id=1k6oxxfzY6dS5-d_lE5k2a-gTCwpoP6Bt">
    <% else %>   
      <meta property="og:title" content="멋쟁이 사자처럼 at 삼육대학교">
      <meta property="og:description" content="컴퓨터를 전혀 모르는 학생들이 코딩 교육을 통해 원하는 IT 서비스를 직접 런칭 합니다. 바로 멋쟁이 사자처럼 삼육대학교를 통해서!">
      <meta property="og:image" content="http://drive.google.com/uc?export=view&id=1k6oxxfzY6dS5-d_lE5k2a-gTCwpoP6Bt">
    <% end %>
    <title>멋쟁이 사자처럼 at 삼육대학교</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="icon" type="image/png" sizes="196x196" href="/ico196.png" />
    <link rel="icon" type="image/png" sizes="180x180" href="/ico180.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/ico128.png" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
    <%= csrf_meta_tags %>
  </head>
    
  <body>
    
    <%= yield %>
    <button onclick="topFunction()" id="myBtn" title="go to top">Top</button>
  
  </body>
</html>
